@media (max-width: 576px) {
  .logo {
    position: fixed;
    Top: 1rem;
    Left: 2rem;
  }

  header .bar {
    padding: 0.5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
  }

  .home h1 {
    font-weight: 600;
    font-size: 1.9rem;
    margin-bottom: 2.3rem;
  }

  .servicos>div>div>div {
    background-color: #1C1E30;
    padding: 1rem 2rem;
    border-bottom: 5px solid #1C1E30;
    height: 16rem;
    margin-bottom: 4rem;
  }

  .servicos>div>div>div:hover {
    background-color: #1C1E30;
  }

  .SobreDivs {
    background-color: #1C1E30;
  }

}